{% extends "base.html" %}

{% block head %}
    <title>{% block title %} Hello {{name}}! {% endblock %}</title>
{% endblock %}


{% block body %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <button><a href="/">Home</a></button>
                <button><a class="navbar-brand" href="/">Flasky</a></button>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="page-header">
        <h1>Hello, {{ name }}!</h1>
        <p>{{current_time}}</p>
    </div>
</div>
{% endblock %}
